body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgrey;
  padding: 0;
  margin: 0;
}

.container {
  width: 500px;
  margin: auto;
}

.title {
  text-align: center;
}

.card {
  margin: auto;
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
}

.art {
  display: inline-block;
  border-radius: 20px;
}

.art img {
  height: 150px;
}

.list {
  position: relative;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  width: 300px;
  height: 150px;
}

.list ul {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 60%;
}

.list a {
  color: black;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}
